<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.study.dao.LogcountMapper">
  
  <select id="selectAllLogCount" resultType="com.study.model.Logcount">
        select city,date,protocol,bcpnum,loadrecord,saverecord from logcount
    </select>
   <select id="selectLogcountCount" resultType="Integer">
        select count(*) from logcount
    </select>
</mapper>